/**
 *
 * transform-origin -> changing the transform origin 
 * transform-origin: center center | 50% 50%
 * transform-origin: xAxis yAxis
 * xAxis: left, right, top, bottom, center, percentage, lengths
 * 
 */

.wrapper {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
}

.inner{
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    /* Transform Origin TOP LEFT */
    /* transform-origin: 0% 0%; */
    /* transform-origin: top left; */
    /* Transform Origin Bottom Left */
    /* transform-origin: 0% 100%; */
    /* transform-origin: bottom left; */
    /* Transform Origin Bottom Right */
    /* transform-origin: 100% 100%; */
    /* transform-origin: bottom right; */
    /* Transform Origin Top Right */
    /* transform-origin: 100% 0%; */
    transform-origin: top right;
    transform: rotate(20deg);
}