/**
 *
 * we can use miltiple transform elements using space of each property
 * the working of multiple property if from right to left direction
 *
 */

.wrapper {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
}

.inner{
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    transform: rotate(20deg) translate(20px, 20px) scale(1.5);
}