/**
 *
 * skew -> titling elements in 2d space 
 * transform: skew(); --> syntax
 * skew(ax, ay)
 * skew(ax)
 * skew(ay)
 * ax -> the amount of the angle to use to discort the element in horizontzal directions
 * ay -> the amount of the angle to use to discort the element in the vertical direction
 * ax, ay -> degree, gradian, radian, and turn
 *
 *
 *
 */

.wrapper {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
}

.inner{
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    /* Skew in X axis */
    /* transform: skewX(10deg); */
    /* transform: skew(10deg); */
    /* Skew in Y axis */
    /* transform: skewY(10deg); */
    /* Skew in both axis */
    transform: skew(10deg, 10deg);
}