@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body {
    background-color: #223e61;
    font-family: Nunito, sans-serif;
    color: #fff;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Borel', cursive;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dot-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: white;
    margin-left: 5px;
    border-radius: 50%;
    animation: pulse 1s linear infinite;
}

.dot1 {
    animation-delay: .2s;
}

.dot2 {
    animation-delay: .4s;
}

.dot3 {
    animation-delay: .6s;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0.2);
    }

    50% {
        transform: scale(1);
    }
}