/**
 *
 * elements -> block level and inline level
 * transformables -> block levels
 * non-transformable -> inline levels
 *
 */

.wrapper {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 0 auto;
}

.inner{
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    transform: translate(100px, 100px);
}

.inline{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    transform: rotate(20deg);
}