@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body {
    background-color: #223e61;
    font-family: Nunito, sans-serif;
    color: #fff;
}

h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Borel', cursive;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.growing-circle-spinner {
    margin-top: 30px;
    width: 60px;
    height: 60px;
    background-color: orangered;
    border-radius: 50%;
    animation: grow 1s linear infinite;
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}